SET DATEFORMAT dmy
GO
SET ANSI_WARNINGS ON
GO

ALTER TABLE [logindata] WITH NOCHECK ADD
	CONSTRAINT [PK_logindata] PRIMARY KEY  CLUSTERED
	(
		[username]
	) ON [PRIMARY]

GO

ALTER TABLE [sysdiagrams] WITH NOCHECK ADD
	CONSTRAINT [PK__sysdiagr__C2B05B61A858CCB5] PRIMARY KEY  CLUSTERED
	(
		[diagram_id]
	) ON [PRIMARY],
	CONSTRAINT [UK_principal_name] UNIQUE 
	(
		[principal_id],
		[name]
	) ON [PRIMARY]

GO

ALTER TABLE [Printer] WITH NOCHECK ADD
	CONSTRAINT [PK_Printer] PRIMARY KEY  CLUSTERED
	(
		[Emb_Id]
	) ON [PRIMARY]

GO

ALTER TABLE [Auditor] WITH NOCHECK ADD
	CONSTRAINT [PK_Auditor] PRIMARY KEY  CLUSTERED
	(
		[Aud_Id]
	) ON [PRIMARY]

GO

ALTER TABLE [LastAuditorId] WITH NOCHECK ADD
	CONSTRAINT [PK_LastAuditorId] PRIMARY KEY  CLUSTERED
	(
		[Aud_Id]
	) ON [PRIMARY]

GO

ALTER TABLE [InsWash] WITH NOCHECK ADD
	CONSTRAINT [PK_InsWash] PRIMARY KEY  CLUSTERED
	(
		[Ins_Id]
	) ON [PRIMARY]

GO

ALTER TABLE [LastInsId] WITH NOCHECK ADD
	CONSTRAINT [PK_LastInsId] PRIMARY KEY  CLUSTERED
	(
		[Last_InsId]
	) ON [PRIMARY]

GO

ALTER TABLE [InsSbqaDet] WITH NOCHECK ADD
	CONSTRAINT [PK_InsSbqaDet] PRIMARY KEY  CLUSTERED
	(
		[Ins_Id]
	) ON [PRIMARY]

GO

ALTER TABLE [InsEcaDet] WITH NOCHECK ADD
	CONSTRAINT [PK_InsEcaDet] PRIMARY KEY  CLUSTERED
	(
		[Ins_Id]
	) ON [PRIMARY]

GO

ALTER TABLE [InsIhqaDet] WITH NOCHECK ADD
	CONSTRAINT [PK_InsIhqaDet] PRIMARY KEY  CLUSTERED
	(
		[Ins_Id]
	) ON [PRIMARY]

GO

ALTER TABLE [InsGeneralDet] WITH NOCHECK ADD
	CONSTRAINT [PK_InsGeneralDet] PRIMARY KEY  CLUSTERED
	(
		[Ins_Id]
	) ON [PRIMARY]

GO

ALTER TABLE [MAS_HS_WashR] WITH NOCHECK ADD
	CONSTRAINT [PK_MAS_HS_WashR] PRIMARY KEY  CLUSTERED
	(
		[Hs_Wash_Id]
	) ON [PRIMARY]

GO

ALTER TABLE [LastHsWashId] WITH NOCHECK ADD
	CONSTRAINT [PK_LastHsWashId] PRIMARY KEY  CLUSTERED
	(
		[Last_Hs_Wash_Id]
	) ON [PRIMARY]

GO

